.container {
  padding: 10% 5%; }

.language-container {
  height: 50vh;
  width: 50vw;
  background-color: #ccc;
  position: fixed;
  top: 20px;
  display: none; }

.language-btn-group {
  padding-top: 24px; }
  .language-btn-group * {
    margin: 12px; }

.language-save-btn, .language-select-btn {
  border-radius: 15%;
  margin-left: 20%;
  border: none;
  cursor: pointer;
  padding: 12px;
  background-color: #79a0dd;
  color: #131414; }
  .language-save-btn:hover, .language-select-btn:hover {
    background-position: white; }

.language-save-btn {
  z-index: 2000;
  margin-left: 50%;
  position: absolute;
  bottom: 12px; }

.btn-language-basic {
  font-size: 0.5rem;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 12px; }

.btn-language {
  background-color: #1c1d1e;
  color: #afafaf; }
  .btn-language:hover {
    background-color: #393a3c;
    color: #79a0dd;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out; }

.btn-language-active {
  background-color: #6d6e6f;
  color: white; }

